@font-face{
    font-family: Montserrat-Regular;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Medium;
    src: url(../font/Montserrat/Montserrat-Medium.ttf)
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat/Montserrat-Bold.ttf);
}

body{
    margin: 0;
}

.header{
    background-color: #D9D9D9;
    display: flex;
    justify-content:space-between;
    padding-bottom: 27px;
}

.logo_header img{
    margin-top: 27px;
    width: 146px;
    height: 96px;
    margin-left: 120px;
}

.text_menu{
    margin-top: 48px;
}

.text_menu a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat-Regular';
    font-size: 40px;
    margin-right: 157px;
}

.icon img{
    margin-top: 51px;
    width: 49px;
    height: 49px;
    margin-right: 157px;
}


.information_about_the_company{
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.text_information_1{
   text-align: center;
   font-size: 65px;
   font-family: 'Montserrat-Bold';
   color: #434343;
   margin-bottom: 0px;
}

.text_information_2{
   font-size: 30px;
   font-family: 'Montserrat-Medium';
   color: #434343;
   text-align: center;
   margin-top: 31px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    width: 913px;
    height: 961px;
    background-color: #A5A5A5;
    margin-left: 504px;
    border-radius: 150px;
    margin-bottom: 160px;
}

input{
    padding-left: 64px;
}

.field_strok{
    display: flex;
    margin-bottom: 79px;
}

textarea{
    font-family: 'Montserrat-Regular';
    padding-left: 64px;
    width: 651px;
    height: 126px;
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    color: #434343;
}

.field_fio input[type="text"]{
    font-family: 'Montserrat-Regular';
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    width: 651px;
    height: 68px;
    font-size: 25px;
    margin-bottom: 79px;
    margin-top: 113px;
    color: #434343;
}

.field_number_phone input[type="text"]{
    font-family: 'Montserrat-Regular';
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    width: 244px;
    height: 68px;
    font-size: 25px;
    margin-right: 97px;
    color: #434343;
}

.field_email input[type="text"]{
    font-family: 'Montserrat-Regular';
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    width: 244px;
    height: 68px;
    font-size: 25px;
    color: #434343;
}

.field_organisation_name input[type="text"]{
    font-family: 'Montserrat-Regular';
    background: #D9D9D9;
    border-radius: 20px;
    border: none;
    width: 651px;
    height: 68px;
    font-size: 25px;
    margin-bottom: 79px;
    color: #434343;
}

.checkbox p{
    margin-left: 32px;
}

input[type=checkbox] {
        display: none;
    }

    .checkbox label:before {
            border-radius: 2px;
        }

        input[type=checkbox]:checked + label:before {
                content: "\2713";
                font-size: 25px;
                color: black;
                text-align: center;
                line-height: 25px;
            }
            label {
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    padding-left: 25px;
                    margin-right: 15px;
                    font-size: 20px;
                    font-family: 'Montserrat-Regular';
                    color: #434343;
                    line-height: 40px;
                }
                label:before {
                        content: "";
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        position: absolute;
                        left: 0;
                        bottom: 50px;
                        background-color: #D9D9D9;
                    }
 .checkbox{
    margin-bottom: 22px;
 }





.sogl p{
    font-family: 'Montserrat-Regular';
    color: #434343;
    margin-top: -15px;
    line-height: 180%;
    font-size: 20px;
}

.sogl{
    display: flex;
    margin-bottom: 32px;
}

.button{
    display: flex;
    justify-content: center;
}

.button button[type="submit"]{
    width: 296px;
    height: 73px;
    background-color: #353535;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat-Bold';
    border-radius: 10px;
}


.contacts{
    margin-bottom: 160px;
}

.maps{
    margin-left: 120px;
    position: absolute;
}

.inf_contacts{
    position: absolute;
    margin-top: 309px;
    margin-left: 167px;
}

.bgcircle{
    background-color: white;
    border-radius: 50%;
    width: 640px;
    height: 640px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text_contacts_zagl{
    text-align: center;
}

.text_contacts_zagl h1{
    padding-top: 70px;
    font-family: 'Montserrat-Medium';
    font-size: 40px;
    margin-bottom: 79px;
}

.text_inf{
    text-align: left;
    margin-left: 94px;
    font-size: 18px;
    font-family:'Montserrat-Medium' ;
    line-height: 280%;
}

.text_inf a{
    text-decoration: none;
    color: black;
}

.folder{
    background-color: #7D7D7D;
    height: 350px;
    margin-top: 1320px;
}

.folder2{
    background-color: #7D7D7D;
    height: 350px;
    margin-top: 80px;
}

.logo img{
    width: 146px;
    height: 96px;
    display: inline-block;
    margin-left: 887px;
    margin-top: 127px;
}

.logo2 img{
    width: 146px;
    height: 96px;
    display: inline-block;
    margin-left: 887px;
    margin-top: 127px;
}

.text_copirate{
    display:inline-block;
    color: #D9D9D9;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    margin-left: 817px;
}

.text_copirate2{
    display:inline-block;
    color: #D9D9D9;
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    margin-left: 817px;
}

.form_account{
    width: 720px;
    height: 400px;
    background-color: #D9D9D9;
    margin-top: 40px;
    margin-left:210px;
    border-radius: 20px;
}

.form_application{
    width: 1800px;
    height: 900px;
    background-color: #D9D9D9;
    margin-top: 100px;
    margin-left:100px;
    border-radius: 20px;
}