{% extends 'dvlink/base.html' %}

{% block content %}
<div class="form_account">
      </div>

      <div class="form_applecation">
      </div>

      <form>
      <div class="form_creat_appl">
        <div class="field">
            <div class="text_Регистрация">Создать</div>
        <div class="field_creat_appl" data-tooltip="Введите текст обращения">
            <textarea required placeholder="Текст обращения"></textarea>
        </div><div class="space"></div>
        <div class="button_creat_appl">
            <button type="submit"><p>Создать</p></button>
        </div>
        </div>
        </div>
        </form>
{% endblock %}
