{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'dvlink/css/style.css' %}" rel="stylesheet" />
    <meta charset= "UTF-8">
</head>
<body>
<!--Блок шапки начало-->
{% block header %}
<div class="header">
        <div class="logo_header">
            <a href="{% url 'home' %}"><img src="{% static 'dvlink/img/logo.png' %}"></a>
        </div>
          <div class="text_menu">
              <a href="#form"> Связаться с нами</a>
              <a href="#contacts"> Контакты</a>
          </div>
          <div class="icon">
              <a href="#"><img src="{% static 'dvlink/img/icon.png' %}"></a>
          </div>
      </div>
{% endblock header %}
<!--Блок шапки конец-->

<!--Блок контента начало-->
{% block content %}

{% endblock %}
<!--Блок контента конец-->

<!--Блок подвала начало-->
{% block folder %}
<div class="folder">
            <div class="logo">
                 <a href="{% url 'home' %}"><img src="{% static 'dvlink/img/logo.png' %}"></a>
            </div>
            <div class="text_copirate">
                <p>© 2014 - 2023 | ООО «ДВ-Линк»</p>
            </div>
        </div>
{% endblock folder%}
<!--Блок подвала конец-->
</body>
</html>