{% extends 'dvlink/base.html' %}

{% block content %}
<div class="information_about_the_company">
        <div class="text_information">
            <p class="text_information_1">Комплексные решения<br>по автоматизации бизнеса</p>
            <p class="text_information_2">Поставляем и монтируем оборудование</p>
        </div>
      </div>
<div class="form">
        <div class="field">
        <div class="field_fio">
            <input type="text" placeholder="ФИО">
        </div>
        <div class="field_strok">
        <div class="field_number_phone">
            <input type="text" placeholder="Телефон">
        </div>
        <div class="field_email">
            <input type="text" placeholder="E-mail">
        </div>
        </div>
        <div class="field_organisation_name">
            <input type="text" placeholder="Название организации">
        </div>
        <div class="field_text_appeal">
            <textarea placeholder="Текст обращения"></textarea>
        </div>
        <div class="checkbox">
            <input id="check1" type="checkbox" name="check" value="check1">
            <label for="check1"><p>Я согласен с политикой конфиденциальности и<br>
                на обработку моих персональных данных</p></label>
        </div>
        <div class="button">
            <button type="submit"><p>Отправить</p></button>
        </div>
        </div>
        </div>

        <div class="contacts">
            <div class="maps">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae063cdc4a2968617fe376b98e2ea17ae0934f04be14203a6fe1346ad585cf4e8&amp;width=1680&amp;height=1000&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="inf_contacts">
                <div class="bgcircle">
                    <div class="text_contacts_zagl">
                        <h1>Контакты</h1>
                    </div>
                        <div class="text_inf">
                        <p>ООО «ДВ-Линк», переулок Кустарный, 6,<br>
                            г. Хабаровск, 680000, Россия</p>
                            <p>+7 (4212) 47-99-07</p>
                            <a href="info@dv-link.su">info@dv-link.su</a>
                        </div>
                    </div>
                </div>
        </div>
{% endblock %}