{% extends 'dvlink/base.html' %}
{% load static %}
{% block content %}
<div class="information_about_the_company">
        <div class="text_information">
            <p class="text_information_1">Комплексные решения<br>по автоматизации бизнеса</p>
            <p class="text_information_2">Поставляем и монтируем оборудование</p>
        </div>
      </div>
    <div class="error">
        {{ form.non_field_errors }}
    </div>
<form class="application" id="form" action="{% url 'home' %}" method="post" enctype="multipart/form-data" autocomplete="off">
    {% csrf_token %}
    <div class="field"><div class="space"></div>
        <div class="field_fio" data-tooltip="Введите ваше ФИО">
            {{ form.field_fio }}
        </div>
        <div class="space"></div>
        <div class="field_strok">
        <div class="field_number_phone" data-tooltip="Введите ваш номер телефона, Пример: +7 (***) ***-**-**">
            {{ form.field_number_phone }}
        </div>
            <div class="space"></div>
        <div class="field_email" data-tooltip="Введите ваш почтовый адрес">
            {{ form.field_email }}
        </div>
        </div>
        {% if form.field_email.errors %}
        <div class="error">{{ form.field_email.errors }}</div>
        {% endif %}
        <div class="space"></div>
        <div class="field_organisation_name" data-tooltip="Введите название вашей организации">
            {{ form.field_organisation_name }}
        </div>
        <div class="space"></div>
        <div class="field_text_appeal" data-tooltip="Напишите текст обращения">
            {{ form.field_text_appeal }}
        </div>
        <div class="checkbox">
  <input id="check1" type="checkbox" name="check" required value="check1">
  <label for="check1"></label>
  <p>Я согласен с политикой конфиденциальности <br>и на обработку моих персональных данных</p>
</div>
        <div class="button">
            <button type="submit"> Отправить </button>
        </div>
        </div>
</form>

       <div class="contacts" id="contacts">
            <div class="maps">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae063cdc4a2968617fe376b98e2ea17ae0934f04be14203a6fe1346ad585cf4e8&amp;width=100%&amp;height=1000&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="inf_contacts">
                <div class="bgcircle">
                    <div class="text_contacts_zagl">
                        <h1>Контакты</h1>
                    </div>
                        <div class="text_inf">
                        <p>ООО «ДВ-Линк», переулок Кустарный, 6,<br>
                            г. Хабаровск, 680000, Россия</p>
                            <p>+7 (4212) 47-99-07</p>
                            <a href="info@dv-link.su">info@dv-link.su</a>
                        </div>
                </div>
            </div>
        </div>
<script src="{% static 'dvlink/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'dvlink/js/phoneindex.js' %}"></script>
<script src="{% static 'dvlink/js/emailindex.js' %}"></script>
{% endblock %}


